<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	
	<display-name>taxi-service</display-name>
	
	<resource-ref>
		<description>MySQL Datasource</description>
		<res-ref-name>jdbc/taxi-service-db</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
  	</resource-ref>
	
	<!--============================================================ 
	Custom function
	============================================================= -->
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/replace_all</taglib-uri>
			<taglib-location>/WEB-INF/replace_all.tld</taglib-location>
		</taglib>
	</jsp-config>

	<!--============================================================ 
	Controller
	============================================================= -->
	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>com.example.taxiservice.web.Controller</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>

	<!--============================================================ 
	i18n support
	============================================================= -->
	<!-- this way we set the resource bundle name -->
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
		<param-value>i18n/resources</param-value>
	</context-param>

	<!-- this way we set the default locale (optional) -->
	<!-- the (preferable) browser's locale will be used if we don't set the default locale -->
	<context-param>
		<param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
		<param-value>en</param-value>
	</context-param>

	<!-- supported locales -->
	<context-param>
		<param-name>locales</param-name>
		<param-value>en uk</param-value>
	</context-param>
	
	<!-- supported commands -->
	<context-param>
		<param-name>commands</param-name>
		<param-value>
		home_page=com.example.taxiservice.web.command.common.HomePageCommand 
		error_page=com.example.taxiservice.web.command.common.ErrorPageCommand 
		sign_in_page=com.example.taxiservice.web.command.person.SignInPageCommand 
		sign_in=com.example.taxiservice.web.command.person.SignInCommand 
		sign_up_page=com.example.taxiservice.web.command.person.SignUpPageCommand 
		sign_up=com.example.taxiservice.web.command.person.SignUpCommand 
		sign_out=com.example.taxiservice.web.command.person.SignOutCommand 
		profile_page=com.example.taxiservice.web.command.person.ProfilePageCommand 
		profile_update_page=com.example.taxiservice.web.command.person.ProfileUpdatePageCommand 
		profile_update=com.example.taxiservice.web.command.person.ProfileUpdateCommand 
		new_trip_page=com.example.taxiservice.web.command.trip.NewTripPageCommand 
		new_trip=com.example.taxiservice.web.command.trip.NewTripCommand 
		trip_offer_page=com.example.taxiservice.web.command.trip.TripOfferPageCommand 
		trip_offer=com.example.taxiservice.web.command.trip.TripOfferCommand 
		trips_page=com.example.taxiservice.web.command.trip.TripsPageCommand 
		trip_page=com.example.taxiservice.web.command.trip.TripPageCommand 
		trip_confirm_page=com.example.taxiservice.web.command.trip.TripConfirmPageCommand 
		trip_confirm=com.example.taxiservice.web.command.trip.TripConfirmCommand 
		filter_trips=com.example.taxiservice.web.command.trip.FilterTripsCommand 
		trip_status=com.example.taxiservice.web.command.trip.TripStatusCommand
		</param-value>
	</context-param>

	<!--============================================================
	Encoding support filter
	============================================================= -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>com.example.taxiservice.web.filter.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/WEB-INF/jsp/*</url-pattern>
		<servlet-name>Controller</servlet-name>
	</filter-mapping>

	<!--============================================================ 
	Locale change filter.
	============================================================= -->
	<filter>
		<filter-name>LangFilter</filter-name>
		<filter-class>com.example.taxiservice.web.filter.LangFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>LangFilter</filter-name>
		<url-pattern>/WEB-INF/jsp/*</url-pattern>
		<servlet-name>Controller</servlet-name>
	</filter-mapping>

	<!--============================================================ 
	Security filter. 
	============================================================= -->
	<filter>
		<filter-name>AccessFilter</filter-name>
		<filter-class>com.example.taxiservice.web.filter.AccessFilter</filter-class>
		<init-param>
			<param-name>user</param-name>
			<param-value>
			sign_out profile_page profile_update_page profile_update new_trip_page new_trip 
			trip_offer_page trip_offer trips_page trip_page trip_confirm_page trip_confirm  
			filter_trips trip_status
			</param-value>
		</init-param>
		<init-param>
			<param-name>guest</param-name>
			<param-value>sign_in_page sign_in sign_up_page sign_up</param-value>
		</init-param>
		<init-param>
			<param-name>common</param-name>
			<param-value>home_page error_page</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>AccessFilter</filter-name>
		<servlet-name>Controller</servlet-name>
	</filter-mapping>

	<!--============================================================ 
	Context listener 
	============================================================= -->
	<listener>
		<listener-class>com.example.taxiservice.web.listener.ContexListener</listener-class>
	</listener>

	<!--============================================================
	Error page
	============================================================= -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/jsp/error.jsp</location>
	</error-page>

</web-app>